:root {
  --background: #031f16;
  --text: #c1f8e7;
  --accent: #60f7c9;
  --gray: #596662;
}

html {
  width: 100dvw;
  height: 100dvh;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text);
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}

.container {
  flex-direction: column;
  gap: 2rem;
}

header {
  gap: 2rem;
}

h1 {
  color: var(--accent);
  font-size: 3rem;
  font-weight: 700;
}

button {
  padding: 0.5rem 1rem;
  border: 3px solid var(--accent);
  border-radius: 5px;
  background-color: var(--text);
  box-shadow: 3px 4px 0 var(--gray);
  color: var(--background);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 200ms;
}

button:hover {
  cursor: pointer;
  background-color: var(--accent);
}

button:active {
  box-shadow: none;
  transform: translate(3px, 4px);
}

.squares {
  width: 65rem;
  height: 65rem;
  border: 3rem solid var(--text);
  border-radius: 12px;

  flex-direction: column;
}

.square {
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid var(--gray);
}

.row,
.square {
  width: 100%;
  height: 100%;
  flex: 1;
}

.gray {
  background-color: var(--gray);
}
